@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    color: #5D5D7D;


}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 60%;
    padding-left: 136px;
    margin-top: 20%;

}

.container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

.mulher {
    position: relative;
    top: 25%;
    right: 130px;
}



h1 {

    font-size: 55px;
    line-height: 80px;
    width: 368px;
}

p {
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
    width: 540px;
}

button {
    width: 269px;
    height: 62px;
    background: #9499EA;
    border: none;
    border-radius: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.3;
}

a {
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin: 15px;
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 3%;
    margin-top: 15px;
    margin-bottom: 15px;
}

a:hover {
    opacity: 0.8;
}

a:active {
    opacity: 0.3;
}

/* --------------Media Querry------------  */
@media screen and (max-width: 900px) {

    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
    }

    .mulher {
        position: relative;
        height: 300px;
        width: 250px;
        left: 50px;
        top: 50px;
        border-radius: 0px;
     
    }
    .mulher:active {
        opacity: 0.5;
    }

    header {
        display: none;
    }

    h1 {
        position: relative;
        font-size: 36px;
        line-height: 52px;
        text-align: center;
        width: 200px;
        margin: 58px 50px 0 50px;
        position: relative;
        left: 10%;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        mix-blend-mode: normal;
        width: 250px;
        position: relative;
        left: 18%;
    }
    button{
        display: block;
        margin: 0 auto;
    }
}